<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Suite">
<listeners>
	<listener class-name="MyProjects.TestComponents.Listeners"/>
</listeners>

<test thread-count="5" name="SubmitOrderTest">
    <classes>
      <class name="MyProjects.Tests.SubmitPage"/>
    </classes>
  </test>
  
  <test thread-count="5" name="LoginErrorValidation">
    <classes>
     <class name="MyProjects.Tests.ErrorValidation"/>
    </classes>
  </test>
</suite>
